<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Mission 7</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <footer>2022 IS413 - Mission 7 Euigun Jung </footer>
</body>
</html>
